.otp-container { display: flex; justify-content: space-between; margin: 25px 0; gap: 8px; }
.otp-box { width: 45px; height: 45px; border: 1px solid #aaa; border-radius: 8px; text-align: center; font-size: 20px; font-weight: bold; }
.otp-box:focus { border-color: #29A2C8; outline: none; }
.sub-text { font-size: 13px; text-align: center; color: #555; margin-bottom: 10px; }
.resend-text { font-size: 12px; text-align: right; color: #888; margin-bottom: 20px; }
.link-text { color: #6A5ACD; font-weight: bold; cursor: pointer; }